! .Xresources

! General settings
XTerm*termName: xterm-256color
XTerm*decTerminalID: vt340
XTerm*utf8: 1
XTerm*locale: true
XTerm*loginShell: true
XTerm*faceName: tewi-medium
XTerm*faceSize: 10
XTerm*cursorUnderLine: true
XTerm*cursorBlink: false
XTerm*internalBorder: 7
XTerm*SaveLines: 4500
XTerm*cutNewLine: false
XTerm*cutToBeginningOfLine: false
! XTerm*charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
XTerm*selectToClipboard: true
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! Colors
*background: #1C1C1C
*foreground: blanchedalmond

*color0:     #252525
*color1:     #C34646
*color2:     #8C9440
*color3:     #EAB244
*color4:     #5F819D
*color5:     #85678F
*color6:     #5E8D87
*color7:     #6D6D6D

*color8:     #2F2F2F
*color9:     #CC6666
*color10:    #B5BD68
*color11:    #E7BE6D
*color12:    #81A2BE
*color13:    #B294BB
*color14:    #8ABEB7
*color15:    #EFF0F1
