! .Xresources

! Xft fonts
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

! Passmenu
!Pinentry*faceName: xft:Pragmata:pixelsize=10
!Pinentry*internalBorder: 7
!Pinentry*geometry: 78x15

! Sixel settings
XTerm*decTerminalID: vt340
XTerm*sixelScrolling: true
XTerm*regisScreenSize: 1366x768
XTerm*numColorRegisters: 256

! General settings
XTerm*termName: xterm-256color
XTerm*utf8: 1
XTerm*locale: true
XTerm*loginShell: true
XTerm*faceName: xft:Pragmata:pixelsize=10
!XTerm*faceSize: 9
XTerm*cursorUnderLine: true
XTerm*cursorBlink: false
XTerm*internalBorder: 7
XTerm*SaveLines: 4500
XTerm*cutNewLine: false
XTerm*cutToBeginningOfLine: false
! XTerm*charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
XTerm*selectToClipboard: true
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! Colors
!olive
*background: #121D03
!black
!*background: #1C1C1C
!burgandy
!*background: #1F1315
*foreground: blanchedalmond
!black
*color0:     #AF875F
*color8:     #AF875F
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #6D6D6D
*color15:    #EFF0F1
